@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply font-Onest scroll-smooth;
    overflow-x: hidden;
  }

  body{
    background: #1d1d1d;
  }

  /* width */
::-webkit-scrollbar {
  background-color: #334151;
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #77da7e;
  border-radius: 5px;
}


  
  